.App {
  text-align: center;
}

.stage {
  width:100%;
  position:relative;
}

.layer{
  width: 100%;
  height: 100%;
  position: fixed;
  opacity: 0.5;
  background: #999;
  top: 0;
  text-align: center;
}
.layer-outer{
  position: relative;
  height: 100%;
}
.layer-inner{
  position: absolute;
  margin:auto;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 200px;
  height: 150px;
  color: black;
  background: purple;
  border-radius: 10px;
}
.wantToSee{
  text-align: center;
  background: white;
  color:#F36E27;
  border-radius: 10px;
  height: 40px;
  width:120px;
  font-size: 20px;
  margin:  10px auto;
  border:1px solid #F36E27;
  outline: none;
}
.want{
  margin: 10px auto;
  text-align: center;
}
.gameover{
  position: fixed;
    width: 100%;
    text-align: center;
    height: 100%;
    vertical-align: middle;
    background: #333;
    opacity: 0.5;
    top: 0;
    padding-top:50%
}
.gameover-text{
  color: #ea0b06fc;
  font-size: 28px
}






